<html itemscope itemtype="http://schema.org/Article">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}" />
  <!-- OAuth -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '1066843839694-r5skfhucpu0t24vqi4aubhgaducm2mc2.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email' go below
        });
      });
    }
  </script>
</head>

<body id="page-top">

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg bg-dark sticky-top" id="main_navigation">
    <a class="navbar-brand" href="http://13.235.155.183">ITEM CATALOG</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </nav>

  <!-- Login -->
  <section id="Login">
    <header class="bg-dark py-5 mb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12" id="result">
            <h1 class="text-white mt-5 mb-2">Login</h1>
            <button type="button" class="btn btn-light" id="signinButton">Sign in with Google</button>
            <script>
              $('#signinButton').click(function() {
                // signInCallback
                auth2.grantOfflineAccess().then(signInCallback);
              });
              function signInCallback(authResult) {
                if (authResult['code']) {
                  // Hide the sign-in button now that the user is authorized, for example:
                  $('#signinButton').attr('style', 'display: none');
                  // Send the code to the server
                  $.ajax({
                    type: 'POST',
                    url: 'http://13.235.155.183/authenticated?state={{STATE}}',
                    // Always include an `X-Requested-With` header in every AJAX request,
                    // to protect against CSRF attacks.
                    headers: {
                      'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                      // Handle or verify the server response.
                      if (result) {
                        $('#result').html(result)
                        setTimeout(function() {
                          window.location.href = "/catalog";
                        }, 1000);
                      } else if (authResult['error']) {
                        $('#result').html('There was an error: ' + authResult['error']);
                      }
                    },
                    processData: false,
                    data: authResult['code']
                  });
                } else {
                  // There was an error.
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            </script>
          </div>
        </div>
      </div>
    </header>

  </section>

  <!-- Footer -->
  <a href="" class="">
    <footer class="py-5 bg-dark">
      <div class="container">
      </div>
    </footer>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  <!-- Plugin JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}"></script>

</body>

</html>
